@{
    ViewBag.Title = "GymPoints";
}

<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">GymPoints</h1>
            <h2 class="masthead-subheading mb-0">
                Transformando seu suor em
                pontos!
            </h2>
            <a href="#txt1" class="btn btn-primary btn-xl rounded-pill mt-5 js-scroll-trigger">
                Saiba
                mais
            </a>
        </div>
    </div>
</header>

<section id="txt1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid" src="/Content/assets/img/dumbell.png" alt="" />
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Junte-se a uma academia conveniada</h2>
                    <p>
                        Ao associar-se a uma de nossas academias você receberá um
                        token único a cada presença, que deverá ser cadastrado em sua
                        conta no app GymPoints.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid" src="/Content/assets/img/rating.png" alt="" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Ganhe pontos por cada presença</h2>
                    <p>
                        Se antes não havia motivação para ir à academia, com o
                        GymPoints você ganhará pontos de acordo com sua frequência.
                        Aumente a frequência, aumente seus pontos, multiplique seus
                        benefícios !
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 order-lg-2">
				<div class="p-5">
					<img class="img-fluid" src="/Content/assets/img/gift.png" alt="" />
				</div>
			</div>
			<div class="col-lg-6 order-lg-1">
				<div class="p-5">
					<h2 class="display-4">Troque pontos por prêmios!</h2>
					<p>
						Os pontos acumulados podem ser trocados na nossa loja por
						descontos em itens, como peças de vestuário, suplementos
						alimentares, equipamentos e acessórios esportivos, além de
						descontos em restaurantes e eventos. Aproveite para experimentar
						os novos produtos de nossos parceiros !
					</p>
				</div>
			</div>
		</div>
	</div>
</section>